body{
   font: 15px/1.5 Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #c0bdbd;
}
/* All styles globally*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
 #adminbtn{
    margin-top: 15px;
}
ul{
    margin: 0;
    padding: 0;
}
button{
    background: #e8491d;
    border-radius: 10px;
    font-weight: bold;
    width: auto;
    height: 35px;
    border: 0;
}
/* Header styles*/
header{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #fff 3px solid;
}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
header li{
    
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color:#cccccc;
    font-weight: bold;
}
/* Show case style*/
#showcase{
    height: 450px;
    background: url("../assets/househome.jpg") no-repeat center;
    text-align: center;
    color: #fff;
    
}
#showcase{
    font-size: 40px;
}

/* SingMsg styles*/

#signMsg{
    padding: 15px;
    color:#fff;
    background: #35424a;
}
#signMsg h1{
    float: left;
}
#signMsg button{
    float: right;
    margin-top: 20px;
    font-weight: bold;
    color: black;
}
#signMsg a{
    color: white;
}
/* boxes style*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width: 150px;
    height: 120px;
}
#boxes .box p{
    padding: auto;
}
footer{
    padding: 1px;
    margin-top: 20px;
    color: #fff;
    background-color:  #35424a;
    text-align: center;
    
}  
/* LOGIN FORM*/
.boxlog{
    position: absolute;
    left: 50%;
    top:53%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    /*background-color:rgba(35, 20, 73, 0.8);*/
    background-color: #35424a;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0,0,0,-5);
    border-radius: 25px;
    color: #fff;
}
.boxlog h2{
   margin: 0 0 30;
   padding: 0;
   text-align: center;
}
.boxlog .inputbox{
   position: relative;
}
.boxlog .inputbox input{
   width: 100%;
   padding: 10px 0px;
   font-size: 16px;  
   border: none;
}
.boxlog .inputbox label{
   transition: .5s;
   float: right;
}
.boxlog input[type="submit"]{
   border-radius: 5px;
   background:#e8491d;
   width:auto;
   height: 30px;
   font-weight: bold;
   border: none;
   color: #fff;
}
.boxlog input[type="button"]{
   border-radius: 5px;
   background:#e8491d;
   width: 70px;
   height: 30px;
   font-weight: bold;
   border: none;
   color: #fff;
}
/*sign up page*/
.boxlogsign{
    position: absolute;
    left: 50%;
    top:54%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 37px;
    background-color: #35424a;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0,0,0,-5);
    border-radius: 25px;
    color: #fff;
}
.boxlogsign h2{
    margin: 0 0 30;
    padding: 0;
    text-align: center;
 }
 .boxlogsign .inputbox{
    position: relative;
 }
 .boxlogsign .inputbox input{
    width: 100%;
    padding: 8px 0px;
    font-size: 14px;  
    border: none;
 }
 .boxlogsign .inputbox label{
    transition: .5s;
 }
 .boxlogsign input[type="submit"]{
    border-radius: 5px;
    background:#e8491d;
    width:auto;
    height: 30px;
    font-weight: bold;
    border: none;
    color: #fff;
 }
 .boxlogsign input[type="button"]{
    border-radius: 5px;
    background:#e8491d;
    width: 70px;
    height: 30px;
    font-weight: bold;
    border: none;
    color: #fff;
 }
/* details of images*/

#boxes .boxim img{
    width: 180px;
    height: 150px;
}
#boxes .boxim{
    width: 300px;
    height:auto;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 7px;
}
.boxim img{
    margin: 1rem auto;
    padding: 5px;
}

/*Image details*/
    
.imgdetails{
    width: 500px;
    height:auto;
    background-color: white;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
    margin: 0% 50% 5% 0%;
}
.imgdetails img{
    width: 400px;
    height: 250px;
    margin: 1rem auto;
}

.boxlogc{
    position: absolute;
    left: 50%;
    top:53%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    /*background-color:rgba(35, 20, 73, 0.8);*/
    background-color: #35424a;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0,0,0,-5);
    border-radius: 25px;
    color: #fff;
}

.boxlogc h2{
    margin: 0 0 30;
    padding: 0;
    text-align: center;
 }
 .boxlogc .inputbox{
    position: relative;
 }
 .boxlogc .inputbox input{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;  
    border: none;
 }
 .boxlogc .inputbox label{
    transition: .5s;
    float: right;
 }
 .boxlogc input[type="submit"]{
    border-radius: 5px;
    background:#e8491d;
    width:auto;
    height: 30px;
    font-weight: bold;
    border: none;
    color: #fff;
 }
 .boxlogc input[type="button"]{
    border-radius: 5px;
    background:#e8491d;
    width: 70px;
    height: 30px;
    font-weight: bold;
    border: none;
    color: #fff;
 }

  @media(max-width: 768px){
      header #branding,
      header nav,
      #signMsg h1,
      #signMsg button,
      #boxes .box{
        float: none;
        text-align: center;
        width:100%;
      }
      header nav ul li{
          display: block;
          text-align: center;
          margin: 0;   
           }
      #showcase{
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }
      #showcase h1{
          margin-top: 70px;
          color: #fff;
      }
      #showcase p{
          margin-bottom: 5px;
          color: #fff;
      }
     .boxlog{
        position: relative;
          left:auto;
          right: auto;
          text-align: center;
      }
      .boxlogsign{
        position: relative;
          left:auto;
          right: auto;
          text-align: center;
          width: auto;
      }
      .imgdetails{
          width: 350px;
      }
      .imgdetails img{
        width: 350px;
    }
    #boxes{
        width: 400px;
    }
    .boxlogc{
        width: 380px;
    }
    .detailsImage{
        width: 320px;
        font-size: 10px;
        margin-top: 65%;
        margin-left: 10px;
        padding-left: 1rem auto;
    }
     img{
        width: 320px;
        margin: 0;
    }
    .detailsImage h3{
        text-align: left;
        margin-left: 0;
    }
 }
  

  